.pd_username .username{
	border-bottom: 1px solid #e0e0e0;
	border-top-left-radius: 5px!important;
	border-top-right-radius: 5px!important;
}
.pd_pwd .pwd{
	border-bottom-left-radius: 5px!important;
	border-bottom-right-radius: 5px!important;
}
